doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  
    script(src="/javascripts/jquery-1.8.2.min.js")
    script(src="/javascripts/jquery-ui.min.js")
    script(src="/javascripts/gmaps.js")
    script(src="/javascripts/heatmap.min.js")
    script(src="/javascripts/gmaps-heatmap.js")
  body
    block content
